[Unit]
Description=Set user permissions for GnomeVantage

[Service]
Type=oneshot
User=root
ExecStart=-/usr/bin/sh -c 'for d in /sys/bus/platform/drivers/ideapad_acpi/*; do [ -e "$d/fn_lock" ] && /usr/bin/chmod a+w "$d/fn_lock"; [ -e "$d/conservation_mode" ] && /usr/bin/chmod a+w "$d/conservation_mode"; [ -e "$d/usb_charging" ] && /usr/bin/chmod a+w "$d/usb_charging"; done'
ExecStart=-/usr/bin/sh -c 'for d in /sys/bus/platform/drivers/legion/*; do [ -e "$d/winkey" ] && /usr/bin/chmod a+w "$d/winkey"; [ -e "$d/touchpad" ] && /usr/bin/chmod a+w "$d/touchpad"; [ -e "$d/rapidcharge" ] && /usr/bin/chmod a+w "$d/rapidcharge"; [ -e "$d/overdrive" ] && /usr/bin/chmod a+w "$d/overdrive"; [ -e "$d/gsync" ] && /usr/bin/chmod a+w "$d/gsync"; done'

[Install]
WantedBy=multi-user.target
